# Gradle files
.gradle/
build/
/*/build/

# Local configuration file (sdk path, etc)
local.properties

# Gradle configuration file
gradle.properties

# Android Studio
.idea/
*.iml

# Windows OS
/*/Thumbs.db

# Apple OS
.DS_Store

# Key
*.jks
