<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="am.project.x">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ProjectXApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".business.welcome.WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".business.main.MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play.google.com"
                    android:path="/store/apps/details?id=am.project.x"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.about.AboutActivity"
            android:label="@string/about_label"
            android:theme="@style/AboutTheme" />
        <activity
            android:name=".business.developing.DevelopingActivity"
            android:label="@string/developing_label" />
        <activity
            android:name=".business.widgets.gradienttabstrip.GradientTabStripActivity"
            android:label="@string/gts_label" />
        <activity
            android:name=".business.widgets.tagtabstrip.TagTabStripActivity"
            android:label="@string/tts_label" />
        <activity
            android:name=".business.widgets.indicatortabstrip.IndicatorTabStripActivity"
            android:label="@string/its_label" />
        <activity
            android:name=".business.widgets.shapeimageview.ShapeImageViewActivity"
            android:label="@string/siv_label" />
        <activity
            android:name=".business.widgets.statelayout.StateLayoutActivity"
            android:label="@string/sl_label" />
        <activity
            android:name=".business.widgets.wraplayout.WrapLayoutActivity"
            android:label="@string/wl_label" />
        <activity
            android:name=".business.widgets.drawableratingbar.DrawableRatingBarActivity"
            android:label="@string/drb_label" />
        <activity
            android:name=".business.widgets.headerfootergridview.HeaderFooterGridViewActivity"
            android:label="@string/hfg_label" />
        <activity
            android:name=".business.widgets.multiactiontextview.MultiActionTextViewActivity"
            android:label="@string/mat_label" />
        <activity
            android:name=".business.widgets.recyclepager.RecyclePagerActivity"
            android:label="@string/rp_label" />
        <activity
            android:name=".business.widgets.circleprogressbar.CircleProgressBarActivity"
            android:label="@string/cpb_label" />
        <activity
            android:name=".business.widgets.zxingscanview.ZxingScanViewActivity"
            android:label="@string/zsv_label" />
        <activity
            android:name=".business.widgets.smoothinputlayout.SmoothInputLayoutActivity"
            android:label="@string/sil_label"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".business.drawables.loadingdrawable.LoadingDrawableActivity"
            android:label="@string/ld_label" />
        <activity
            android:name=".business.drawables.centerdrawable.CenterDrawableActivity"
            android:label="@string/cd_label" />
        <activity
            android:name=".business.drawables.combinationdrawable.CombinationDrawableActivity"
            android:label="@string/cod_label" />
        <activity
            android:name=".business.drawables.cornerdrawable.CornerDrawableActivity"
            android:label="@string/cnd_label" />
        <activity
            android:name=".business.drawables.linedrawable.LineDrawableActivity"
            android:label="@string/lid_label" />
        <activity
            android:name=".business.drawables.lineardrawable.LinearDrawableActivity"
            android:label="@string/lrd_label" />
        <activity
            android:name=".business.drawables.textdrawable.TextDrawableActivity"
            android:label="@string/td_label" />
        <activity
            android:name=".business.others.printer.PrinterActivity"
            android:label="@string/printer_label" />
        <activity
            android:name=".business.others.crypto.CryptoActivity"
            android:label="@string/crypto_label" />
        <activity android:name=".business.browser.BrowserActivity" />
        <activity
            android:name=".business.others.ftp.FTPActivity"
            android:label="@string/ftp_label"
            android:launchMode="singleTask" />
        <activity
            android:name=".business.others.ftp.FTPSwitcherActivity"
            android:theme="@style/CompletelyTransparentDialog" />
        <activity
            android:name=".business.others.font.FontActivity"
            android:label="@string/font_label" />
        <activity
            android:name=".business.others.opentypelist.OpenTypeListActivity"
            android:label="@string/otl_label" />
        <activity
            android:name=".business.others.opentype.OpenTypeActivity"
            android:label="@string/ot_label" />
        <activity
            android:name=".business.others.floatingactionmode.FloatingActionModeActivity"
            android:label="@string/floating_label" />
        <activity
            android:name=".business.widgets.multifunctionalrecyclerview.MultifunctionalRecyclerViewActivity"
            android:label="@string/mrv_label" />

        <service
            android:name=".business.others.ftp.FTPService"
            android:exported="false" />
        <service
            android:name=".business.others.ftp.FTPTileService"
            android:icon="@drawable/ic_tile_ftp"
            android:label="@string/ftp_tile_label_inactive"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>