<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="am.project.x">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".ProjectXApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.welcome.WelcomeActivity"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.main.MainActivity"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.gradienttabstrip.GradientTabStripActivity"
            android:label="@string/gradienttabstrip_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/gradienttabstrip"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.tagtabstrip.TagTabStripActivity"
            android:label="@string/tagtabstrip_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/tagtabstrip"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.indicatortabstrip.IndicatorTabStripActivity"
            android:label="@string/indicatortabstrip_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/indicatortabstrip"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.shapeimageview.ShapeImageViewActivity"
            android:label="@string/shapeimageview_titel">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/shapeimageview"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.stateframelayout.StateFrameLayoutActivity"
            android:label="@string/stateframelayout_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/stateframelayout"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.wraplayout.WrapLayoutActivity"
            android:label="@string/wraplayout_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/wraplayout"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.replacelayout.ReplaceLayoutActivity"
            android:label="@string/replacelayout_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/replacelayout"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.drawableratingbar.DrawableRatingBarActivity"
            android:label="@string/drawableratingbar_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/drawableratingbar"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.util.printer.PrinterActivity"
            android:label="@string/printer_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/printer"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.util.security.CipherActivity"
            android:label="@string/cipher_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/security"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.widgets.headerfootergridview.HeaderFooterGridViewActivity"
            android:label="@string/headerfootergridview_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:pathPrefix="/AlexMofer/ProjectX/tree/master/headerfootergridview"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.drawable.loading.LoadingActivity"
            android:label="@string/loading_title" />
        <activity
            android:name=".activities.drawable.center.CenterActivity"
            android:label="@string/center_title" />
        <activity
            android:name=".activities.drawable.sharpcornerbox.SharpCornerBoxActivity"
            android:label="@string/sharpcornerbox_title" />
        <activity
            android:name=".activities.develop.supergridview.SuperGridViewActivity"
            android:label="@string/dev_supergridview_title" />
        <activity
            android:name=".activities.develop.selectionview.SelectionViewActivity"
            android:label="@string/dev_selectionview_title" />
        <activity
            android:name=".activities.drawable.combination.CombinationActivity"
            android:label="@string/combination_title" />
        <activity
            android:name=".activities.drawable.line.LineActivity"
            android:label="@string/line_title" />
        <activity
            android:name=".activities.drawable.list.ListActivity"
            android:label="@string/list_title" />
    </application>

</manifest>